/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{/*list-style:none*/}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    text-align: center;
    font-family: Helvetica, Arial;
}

#logo
{
    font-size: 300%;
}
#logo a
{
    text-decoration: none;
    color: #3AA6D0;
}


input[type=number].wine_add_quantity
{
    width: 3em;
}

#main {
    background-color: white;
    text-align: left;
    width: 50%;
    margin: auto;
}

#header {
    text-align: right;
    background-color: white;
    width: auto;
    padding: 10px;
}
#header a
{
    color: #00cccc;
    text-decoration: none;
    font-size: 150%;
}

#login_form 
{
    display: inline;
}

#login_form input
{
    display: inline;
}

#side_menu {
    clear: both;
    background-color: #FFA340;
    width: 20%;
    float: left;
}
#side_menu a
{
    font-size: 1.2em;
    color: #3AA6D0; 
    text-decoration: none;
}
#side_menu a:hover
{
    font-size: 1.4em;
    color: #62B1D0; 
}
#side_menu a:visited
{
    font-size: 1.2em;
    color: #3AA6D0; 
}

#content {
    background-color: #FFBA40;
    width: 80%;
    float: left;
    border: 1px solid black;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input {
    display: block;
}
.wine {

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background-color: white;
    margin: 5px;
    padding: 4px;

    border: 1px solid black;
    display: table;
}
.wine_description {
    width: 80%;
    display: table-cell;

    border-right: #A65600 solid 2px;
}

.wine_details {
    width: 20%;
    display: table-cell;
    padding-left: 20px;
    padding-bottom: 20px;
}

.wine_description h1
{
    color: blue;
    font-size: 1.2em;
}

#footer {
    background-color: #A65600;
    clear: both;

    text-align: center;
}

.errorMessage {
    font-size: 50%;
    color: red;
}

p {
    padding: 1em;
}

ul
{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: #A65600 dotted 1px;
    padding-left: 20px;
}